version: '3.8'

services:
  # 1. Main Master Node (Your JavaFX Portal lives here)
  master-node:
    image: pedrombmachado/ntu_lubuntu:comp20081
    container_name: master_node
    ports:
      - "3389:3389" # RDP port to access the GUI
    volumes:
      - ../src:/home/lubuntu/project/src # Link your Java code
    networks:
      - cloud-net

  # 2. Remote MySQL Database (Global user/ACL storage)
  mysql-db:
    image: mysql:8.0
    container_name: mysql_db
    volumes:
      - ./mysql_data:/var/lib/mysql
    platform: linux/amd64
    environment:
      MYSQL_ROOT_PASSWORD: admin_password
      MYSQL_DATABASE: cloud_system
    ports:
      - "3307:3306"
    networks:
      - cloud-net

  # 3. File Partitioning Service (Encryption & Chunking)
  partitioner:
    image: pedrombmachado/ntu_lubuntu:comp20081
    container_name: partitioner_service
    depends_on:
      - master-node
    networks:
      - cloud-net

  # 4. Storage Server 1
  storage-node-1:
    image: pedrombmachado/ntu_lubuntu:comp20081
    container_name: storage_1
    volumes:
      - ./storage1_uploads:/home/storage_user/uploads
      - .:/mnt/project # Mount your current folder to /mnt/project in Linux
    entrypoint: ["/bin/bash", "/mnt/project/setup_storage.sh"]
    ports:
      - "2221:22"
    networks:
      - cloud-net

  # 5. Storage Server 2
  storage-node-2:
    image: pedrombmachado/ntu_lubuntu:comp20081
    container_name: storage_2
    volumes:
      - ./storage2_uploads:/home/storage_user/uploads
      - .:/mnt/project # Mount your current folder to /mnt/project in Linux
    entrypoint: ["/bin/bash", "/mnt/project/setup_storage.sh"]
    ports:
      - "2222:22"
    networks:
      - cloud-net

  storage-node-3:
    image: pedrombmachado/ntu_lubuntu:comp20081
    container_name: storage_3
    volumes:
      - ./storage2_uploads:/home/storage_user/uploads
      - .:/mnt/project # Mount your current folder to /mnt/project in Linux
    entrypoint: [ "/bin/bash", "/mnt/project/setup_storage.sh" ]
    ports:
      - "2223:22"
    networks:
      - cloud-net

    storage-node-4:
      image: pedrombmachado/ntu_lubuntu:comp20081
      container_name: storage_4
      volumes:
        - ./storage2_uploads:/home/storage_user/uploads
        - .:/mnt/project # Mount your current folder to /mnt/project in Linux
      entrypoint: [ "/bin/bash", "/mnt/project/setup_storage.sh" ]
      ports:
        - "2224:22"
      networks:
        - cloud-net

  # 6. Host Manager (Monitoring)
  host-manager:
    image: pedrombmachado/ntu_lubuntu:comp20081
    container_name: host_manager
    networks:
      - cloud-net

networks:
  cloud-net:
    driver: bridge